<template>
  <div class="container">
    <div class="row">
      <div class="col-4"></div>
      <div class="col-4">
        <div class="row mt-5">
          <div class="col-12 text-center">
            <h5>admin login</h5>
          </div>

          <div class="col-12 mt-4">
            <label for="email" class="form-label">email</label>
            <input type="email" id="email" class="form-control" placeholder="email" v-model="form.email"/>
          </div>

          <div class="col-12 mt-4">
            <label for="password" class="form-label">password</label>
            <input type="password" id="password" class="form-control" placeholder="password" v-model="form.password"/>
          </div>

          <div class="col-12 mt-4">
            <button type="submit" class="btn btn-primary" @click="submit">Submit</button>
          </div>

          <div class="col-12 mt-4">
            <ul>
              <li v-for="(error, key, index) in errors">{{ error[0] }}</li>
            </ul>

          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      form: {
        email: '',
        password: '',
      },
      errors: []

    };
  },
  methods: {
    submit() {
      axios.post('/api/admin/login', this.form).then(res => {
        this.$store.state.adminAuth = 1
        this.$router.push('/admin/post/create')
      }).catch(e => {
        if (e.response.status === 401) {
          this.errors = {
            'error': {0: 'unauthorized'}
          }
        } else {
          this.errors = e.response.data.errors
        }
      })
    },
  },
  mounted() {
    // console.log(this.$store.state.count)
  },
};
</script>