<template>
  <div class="container">
    <div class="row mt-5">
      <div class="col-12">
        <h5 class="text-center">post create</h5>
      </div>
      <div class="col-12 mt-4">
        <label for="title" class="form-label">title</label>
        <input id="title" class="form-control" placeholder="title" v-model="form.title"/>
      </div>

      <div class="col-12 mt-4">
        <label for="body" class="form-label">body</label>
        <textarea id="body" class="form-control" placeholder="body" v-model="form.body" rows="6"/>
      </div>

      <div class="col-12 mt-4">
        <button type="submit" class="btn btn-primary" @click="submit">Submit</button>
      </div>

      <div class="col-12 mt-4">
        <ul>
          <li v-for="(error, key, index) in errors">{{ error[0] }}</li>
        </ul>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      form: {
        title: '',
        body: '',
      },
      errors: []

    }
  },
  methods: {
    submit() {
      axios.post('/api/admin/post', this.form).then(() => {
        alert('success')
        this.form = {}
      }).catch(e => {
        this.errors = e.response.data.errors
      })
    },
  },
  mounted() {

  },
}
</script>