<template>
  <div class="container">
    <div class="row mt-4">
      <div class="col-12">
        <h5 class="text-center">post edit</h5>
      </div>
      <div class="col-12 mt-4">
        <label for="title" class="form-label">title</label>
        <input id="title" class="form-control" placeholder="title" v-model="form.title"/>
      </div>

      <div class="col-12 mt-4">
        <label for="body" class="form-label">body</label>
        <textarea id="body" class="form-control" placeholder="body" v-model="form.body" rows="6"/>
      </div>

      <div class="col-12 mt-4">
        <button type="submit" class="btn btn-primary" @click="submit">Submit</button>
      </div>

      <div class="col-12 mt-4">
        <ul>
          <li v-for="(error, key, index) in errors">{{ error[0] }}</li>
        </ul>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  data: () => ({
    form: {
      title: '',
      body: '',
    },
  }),
  methods: {
    fetchPost() {
      axios.get(`/api/admin/post/fetch/${this.$route.params.id}`).then(res => {
        this.form = res.data
      })
    },
    submit() {
      axios.put('/api/admin/post', this.form).then(res => {
        alert('success')
      }).catch(e => {
        this.errors = e.response.data.errors
      })
    },
  },
  mounted() {
    this.fetchPost()
  },
}
</script>