<template>
  <div class="container">
    <div class="row mt-4">
      <div class="col-12">
        <h5 class="text-center">post list</h5>
      </div>
      <div class="col-12 mt-5">
        <table class="table">
          <thead>
          <tr>
            <th scope="col">title</th>
            <th scope="col">admin</th>
            <th scope="col"></th>
          </tr>
          </thead>
          <tbody>
          <tr v-for="post in posts.data">
            <th>{{ post.title }}</th>
            <th>{{ post.admin.name }}</th>
            <th>
              <a :href="`/admin/post/edit/${post.id}`" class="btn btn-sm btn-success">edit</a>
              <a @click="deletePost(post.id)" class="btn btn-sm btn-danger ms-2">delete</a>
            </th>

          </tr>
          </tbody>
        </table>
        <Pagination :data="posts" @pagination-change-page="fetchPosts" :limit="2"/>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  data: () => ({
    posts: [],
  }),
  methods: {
    fetchPosts() {
      axios.get('/api/admin/post').then(res => {
        this.posts = res.data
      })
    },
    deletePost(id) {
      axios.delete('/api/admin/post', {data: {post_id: id}}).then(() => {
        this.fetchPosts()
        
      })
    }
  },
  mounted() {
    this.fetchPosts()
  },
}
</script>