<template>
  <div class="container">
    <div class="row mt-5">
      <div class="col-12">
        <h5>{{ form.title }}</h5>
      </div>
      <div class="col-12 mt-4">
        <p>{{ form.body }}</p>
      </div>
    </div>
  </div>
</template>
<script>

export default {
  data: () => ({
    form: {
      title: '',
      body: '',
    },
  }),
  methods: {
    fetchPost() {
      axios.get(`/api/post/fetch/${this.$route.params.id}`).then(res => {
        this.form = res.data
      })
    },
  },
  mounted() {
    this.fetchPost()
  },
}
</script>