<template>
  <div class="container">
    <div class="row mt-5">
      <div class="col-12">
        <h5>{{ form.title }}</h5>
      </div>
      <div class="col-12 mt-3">
        <p>{{ form.body }}</p>
      </div>
      <div class="col-12 mt-3">
        <input id="name" class="form-control" placeholder="name" v-model="comment.name" />
      </div>

      <div class="col-12 mt-3">
        <textarea class="form-control" placeholder="comment here" rows="5" v-model="comment.body"></textarea>
      </div>

      <div class="col-12 mt-3">
        <button type="submit" class="btn btn-primary" @click="submit">Submit</button>
      </div>
    </div>

    <div class="row mt-5" v-for="comment in comments" :key="comment.id">
      <div class="col-12">
        <h6>{{ comment.name }}</h6>
      </div>
      <div class="col-12">
        <p>{{ comment.body }}</p>
      </div>
    </div>
  </div>
</template>
<script>

export default {
  data: () => ({
    form: {
      title: '',
      body: '',
    },
    comment: {
      name: '',
      body: '',
      post_id: null
    },
    comments: []
  }),
  methods: {
    postFetch() {
      axios.get(`/api/post/${this.$route.params.id}`).then(res => {
        this.form = res.data
      })
    },
    submit() {
      axios.post('/api/comment/store', this.comment).then(res => {


      })
    },
    commentFetch() {
      axios.get(`/api/comment/${this.$route.params.id}`).then(res => {
        this.comments = res.data
      })
    },
  },
  mounted() {
    this.postFetch()
    this.commentFetch()
    this.comment.post_id = this.$route.params.id
  },
  created() {
    Echo.channel('notification-comment').listen('CommentStore', () => {
      alert('sssss')
    });
  }
}
</script>
